<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- <suite name="AllTestsSuite" verbose="1"> -->
    <suite name="Annotation Execution Suite" >
        <test name="MyTestGroup">
        <parameter name="program"  value="Bootcamp API Automation"/>
            <classes>
                <!-- <class name="LifeCycleExample" /> -->
                <!-- <class name="RestAssuredImpl" /> -->
                <!-- <class name="RestAssuredImplTODO" /> -->
                <class name="api.example.base.Base" />
                <class name="Scenario.CreateBooking" />
                <!-- <class name="Scenario.DeleteBooking" /> -->
                <!-- <class name="Scenario.GetBooking" /> -->
                <!-- <class name="Scenario.GetBookingIds" /> -->
                <!-- <class name="Scenario.GetBookingIdsByDate" /> -->
                <!-- <class name="Scenario.GetBookingIdsByName" /> -->
                <!-- <class name="Scenario.UpdateBooking_Partial" /> -->
                <!-- <class name="Scenario.UpdateBooking" /> -->
            </classes>
        </test>
    </suite>
<!-- </suite> -->